@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif !important;
}
.tamano-celda{
    height: 50px !important;
    
}
.espacio{
margin-bottom: 80px !important;
}
.blanco{
    color: #000!important;
}
.margin{
    margin-top: 100px !important;
}
.pasarella{
    margin-top: 20px;
}
.tarjetas{
    display: flex;
    gap: 5px;
    margin: auto;
    align-items: center;
}
.img-pago{
    width: 15%;
    height: 15%;
}
.div-pagar{
    display: flex;
    gap: 20px;
    margin: auto;
    align-items: center;
}
.a-pagar{
    background-color: red;
    padding: 5px 20px;
    color: #fff;
    border-radius: 15px;
}
.a-pagar:hover{
    background-color: red;
    padding: 5px 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 15px;
}
.btn-volver{
    width: 100%;
    padding: 5px 40px;
    color: #fff;
    background-color: rgb(6, 73, 144);
    border-radius: 15px;
    font-size: 1.5rem;
}
.btn-volver:hover{
    width: 100%;
    padding: 5px 40px;
    color: #fff;
    background-color: rgb(23, 116, 215);
    border-radius: 15px;
    font-size: 1.5rem;
}
.cantidad{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
}
.input-cantidad{
    width: 30%;
    border-style: none;
    border: 1px solid red;
    outline: none;
}
.spacio{
    padding: 20px;
}
.cantidad-text{
    font-weight: 600;
}
.espaciodiv{
    margin-top: 20px;
    margin-bottom: 20px;
}
.medida{
    width: 100% !important;
}